.logo-container {
  z-index: 0;
  width: 400px;
  height: 609px;
  position: absolute;
  top: 0;
  // right: 15%;
  bottom: 0;
  left: 75;
  margin: auto;

  svg {
    width: 70%;
    height: auto;
    bottom: 0;
    transform: rotateZ (30deg) !important;
  }

  .solid-logo {
    position: absolute;
    top: 10;
    // right: 10;
    // bottom: auto;
    left: 75%;
    // margin: auto;
    width: 40%;
    opacity: 0;
    transform: rotateZ (30deg);
  }
}
