.home-page {

  img {
    width: 120px;
    margin: 140px 480px;
  }

  .text-zone {
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }

  h1 {
    color: #fff;
    font-size: 40px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;

    &::before {
      content: '<h1>';
      font-family: 'La Belle Aurore';
      color: #ffd700;
      font-size: absolute;
      position: absolute;
      margin-top: -40px;
      left: 15px;
      opacity: 0.5;
    }

    &::after {
      content: '<h1 />';
      font-family: 'La Belle Aurore';
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: 18px;
      margin-left: 20px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0;
    }
  }

    h2 {
      color: rgb(237, 139, 139);
      font-family: 'Coolvetica';
      font-size: 16px;
    }

    h3 {
      color: #fff;
      font-family: 'Coolvetica';
      font-size: 14px;
    }

}
