.nav-bar {
  // display: flex;
  background: #000000;
  width: 80px;
  height: 100%;
  position: fixed;
  z-index: 3;
  flex-direction: column;
  overflow: visible;

  .logo {

    img {
      margin: 15px 15px;
      width: 50px;
      margin-bottom: 50px;
    }
  }

  nav {
    flex-direction: column;
    text-align: center;

    a {
      font-size: 22px;
      color: #4d4d4e;
      display: flex;
      line-height: 47px;
      margin: auto 30px;
      height: auto;
      justify-items: center;
      text-decoration: none;

      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: #ffd700;

        svg {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }


      &:after {
        content: '';
        font-size: 9px;
        letter-spacing: 2px;
        bottom: 0;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease-out;
      }
    }

    a.home-link {
      &:after {
        content: 'HOME';
      }
    }

    a.about-link {
      &:after {
        content: 'ABOUT';
      }
    }

    a.contact-link {
      &:after {
        content: 'CONTACT';
      }
    }

    a.cv-link {
      &:after {
        content: 'CV';
      }
    }

    a.projects-link {
      &:after {
        content: 'PROJECTS';

      }
    }

    a.active {
      svg {
        color: #ffd700;
      }
    }
  }

  ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 100px;
    padding-left: 60px;

    li {
      a.Link {
        font-size: 20px;

        &:hover svg {
          color: #ffd700;
        }

        &:after {
          font-size: 9px;
          content: "LINKEDIN";
        }
      }

      a.Git {
        font-size: 20px;
        justify-content: center;

        &:hover svg {
          color: #ffd700;
        }

        &:after {
          font-size: 9px;
          content: "GITHUB";
        }
      }
    }
  }
}
