.home-page {
  // profile pic
  img {
    display: flex;
    width: 200px;
    opacity: 1;
    border-radius: 50%;
    animation: fadeIn 1s 1s backwards;
    // float: left;
    flex-direction: row;

    &::before {
      font-family: 'La Belle Aurore';
      color: #ffd700;
      margin-top: -40px;
      left: 15px;
      opacity: 0.5;
    }

    &::after {
      font-family: 'La Belle Aurore';
      color: #ffd700;
      font-size: 18px;
      margin-top: 18px;
      margin-left: 20px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0;
    }
  }

  .text-box {

    h3 {
      color: #fff;
      // font-family: 'sans-serif';
      font-size: 14px;
      letter-spacing: 3px;
      font-weight: 500;
      min-width: 320px;
      height: 90px;
      display: flex;
      flex-direction: column;
      // align-self: end;
      // justify-content: space-between;
      transform: translate(-50%, -50%);

      &::before {
        font-family: 'La Belle Aurore';
        color: #ffd700;
        font-size: absolute;
        // position: absolute;
        margin-top: -40px;
        left: 15px;
        opacity: 0.5;
      }

      &::after {
        font-family: 'La Belle Aurore';
        color: #ffd700;
        font-size: 18px;
        // position: absolute;
        margin-top: 18px;
        margin-left: 20px;
        animation: fadeIn 1s 1.7s backwards;
        opacity: 0;
      }
    }
  }

  .text-zone {
    transform: translateY(-50%);
    width: 40%;
    // max-height: 90%;
    flex-direction: row;
  }

  h1 {
    color: #fff;
    font-size: 50px;
    font-family: 'Coolvetica';
    font-weight: 400;
    letter-spacing: 5px;
    animation: fadeIn 1s 1s backwards;
    margin: 80px 50px;

    &::before {
      font-family: 'La Belle Aurore';
      color: #ffd700;
      opacity: 0.5;
    }

    &::after {
      font-family: 'La Belle Aurore';
      color: #ffd700;
      font-size: 18px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0;
    }
  }

  h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-family: 'Coolvetica';
    font-size: 16px;
    letter-spacing: 3px;
    animation: fadeIn 1s 1s backwards;

    &::before {
      font-family: 'La Belle Aurore';
      color: #ffd700;
      font-size: 16px;
      // position: absolute;
      margin-top: -40px;
      left: 15px;
      opacity: 0.5;
    }

    &::after {
      font-family: 'La Belle Aurore';
      color: #ffd700;
      font-size: 18px;
      // position: absolute;
      margin-top: 18px;
      margin-left: 20px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0;
    }
  }


  .flat-button {
    color: #ffd700;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: 'sans-serif';
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #ffd700;
    margin-top: 25px;
    float: left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: no wrap;

    &:hover {
      background: #ffd700;
      color: #333;
    }
  }
}
