.home-page {


  // profile pic
  img {
    display: flex;
    width: 25vh;
    align-self: center;
    opacity: 1;
    border-radius: 50%;
    animation: fadeIn 1s 1.0s backwards;
    margin: 50px 400px;
    flex-direction: row;


    &::before {
      font-family: 'La Belle Aurore';
      color: #ffd700;
      margin-top: -40px;
      left: 15px;
      opacity: 0.5;
    }

    &::after {
      font-family: 'La Belle Aurore';
      color: #ffd700;
      font-size: 18px;
      margin-top: 18px;
      margin-left: 20px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0;
    }
  }


  .text-zone {
    // position: absolute;
    // left: 15%;
    // top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }

  h1 {
    color: #fff;
    font-size: 50px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;
    letter-spacing: 5px;
    animation: fadeIn 1s 1.0s backwards;

    &::before {
      font-family: 'La Belle Aurore';
      color: #ffd700;
      // position: absolute;
      margin-top: -40px;
      left: 15px;
      opacity: 0.5;
    }

    &::after {
      font-family: 'La Belle Aurore';
      color: #ffd700;
      font-size: 18px;
      // position: absolute;
      margin-top: 18px;
      margin-left: 20px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0;
    }
  }

  h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-family: 'Coolvetica';
    font-size: 16px;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.0s backwards;

    &::before {
      font-family: 'La Belle Aurore';
      color: #ffd700;
      font-size: 16px;
      // position: absolute;
      margin-top: -40px;
      left: 15px;
      opacity: 0.5;
    }

    &::after {
      font-family: 'La Belle Aurore';
      color: #ffd700;
      font-size: 18px;
      // position: absolute;
      margin-top: 18px;
      margin-left: 20px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0;
    }
  }

  h3 {
    color: #fff;
    font-family: 'sans-serif';
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 500;
    margin-top: 8px;

    &::before {
      font-family: 'La Belle Aurore';
      color: #ffd700;
      font-size: absolute;
      // position: absolute;
      margin-top: -40px;
      left: 15px;
      opacity: 0.5;
    }

    &::after {
      font-family: 'La Belle Aurore';
      color: #ffd700;
      font-size: 18px;
      // position: absolute;
      margin-top: 18px;
      margin-left: 20px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0;
    }
  }

  .flat-button {
    color: #ffd700;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: 'sans-serif';
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #ffd700;
    margin-top: 25px;
    float: left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: no wrap;

    &:hover {
      background: #ffd700;
      color: #333;
    }
  }
}
