html {
  font-size: 62.5%;
}

body {
  /* allow the body to set a minimum height value based upon the full height of the viewport */
  min-height: 100vh;
  margin: auto;
  /* font: 300 11px/1.4 'Helvetica Neue', 'sans-serif'; */
  color: #444;
  background: #321d86;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
